.charts-container {
    display: flex;
    flex-direction: column;
    color: var(--text);
    margin-top: 20px;
}
.charts-container>div{
    /* margin: 10px auto; */
    /* width: 900px; */
    font-size: 14pt;
}
.charts-container>div:first-child{
    /* width: 300px; */
    /* width: fit-content; */
    /* margin: auto; */
}

.ant-col:nth-child(1) .ant-card-bordered {
    border-bottom: 1px solid #999;
}
.ant-col:nth-child(2) .ant-card-bordered {
    border-bottom: 1px solid #999;
}
.ant-col:nth-child(3) .ant-card-bordered {
    border-bottom: 1px solid #999;
}

.ant-card-bordered {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}