body {
  background-color: rgba(250,250,252,1);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --accent: var(--accent);
  --text: #333;
  --bg: #fff;
}

.App {
  text-align: center;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  width: 66%;
  min-width: 1200px;
  max-width: 2000px;
  display: flex;
}

.container {
  top: 0;
  background-color: #FFF;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.main-container>* {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.container:nth-child(1){
  margin-top: 10px;
  margin-bottom: 10px;
  background: #FFF
}

.container:nth-child(2){
  margin: 10px;
  background: transparent;
  /* background: #FFF; */
  width: 100%;
  padding: 0 !important;
}

.white-wrapper {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: #FFF;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.contents {
  width: 100%;
  /* padding-top: 10px; */
  /* padding-bottom: 15px; */
  color: var(--text);
  padding: 0 !important;
  margin: 0 !important;
}

/* .contents > * {
  margin-top: 5px !important;
} */

h3 {
  color: white !important;
  display: none;
}

.leaflet-bottom.leaflet-right {
  visibility: hidden;
}

.map-tag {
  height: 100% !important;
  background: #fff !important;
  font-size: 12pt !important;
  padding: 0 4px !important;
  border-radius: 2px !important;
  margin-top: 2px !important;
}

.leaflet-control > button {
  color: #000;
}

.ant-segmented {
  color: #fff !important;
  background: transparent !important;
}

.ant-segmentd-item {
  color:  !important;
}

.ant-segmented-item-label:hover {
  color: #fff;
}

.ant-segmented-item-selected .ant-segmented-item-label:hover {
  color: #000 !important
}

.description-block {
  background: #fff;
  width: 100%;
  padding: 20px 50px;
  color: var(--text)
}

/* 
.ant-segmentd-item {
  min-width: 90px !important;
}

.ant-segmented-item-label {
  color: #fff;
}

.ant-segmented-item-label:hover {
  text-shadow: 0 0 1px #fff;
}

.ant-segmented-item-selected > .ant-segmented-item-label {
  color: #fff !important;
}

.ant-segmented-item.ant-segmented-item-selected {
  background: var(--accent) !important;
}

.ant-segmented-thumb-motion-appear {
  background: var(--accent) !important;
}

.ant-collapse-item {
  border-bottom-color: #333 !important;
  color: #fff !important;
}

.ant-collapse.ant-collapse-icon-position-start {
  background: #111;
  border-color: #333;
  color: #fff !important;
}

.ant-collapse-content-box {
  background: #111;
  color: #fff !important;
  font-family: sans-serif;
}

.ant-collapse-content.ant-collapse-content-active {
  border-top-color: var(--accent) !important;
}

.ant-collapse-header-text {
  color: #fff !important;
}

.ant-btn.ant-btn-primary {
  background: var(--accent) !important;
  border-color: var(--accent) !important;
  margin-left: 5px;
}

.ant-btn.ant-btn-primary.ant-btn-background-ghost {
  background: transparent !important;
  color: var(--accent) !important;
}

input[type="file"]::file-selector-button {
  /* border: 1px solid #b0f; 
  border: none;
  padding: 0px 40px;
  border-radius: 0;
  background-color: transparent;
  border-bottom: dotted 1px #b0f;
  border-top: dotted 1px #b0f;
  transition: 1s;
  color: var(--accent);
  margin: 5px;
}

input[type="file"] {
  width: 1200px;
  color: #555;
}

.ant-checkbox-group-item {
  display: flex;
}

.ant-checkbox-group-item {
  color: #fff !important;
}

.ant-checkbox-disabled + span {
  color: #555 !important;
} */

.check-items {
  margin: 20px 50px;
  width: fit-content;
  color: var(--text);
}

.flex-container.map-tag {
  background: var(--accent) !important;
}

.flex-container.map-tag * {
  color: #fff !important;
}

.ant-result.ant-result-success * {
  color: #fff !important;
}

.ant-result-icon span.anticon.anticon-check-circle * {
  color: var(--accent) !important;
}

.ant-input-number {
  margin-left: 5px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mailingsModePicker * {
  color: var(--text) !important;
}

.mailingsModePicker .ant-segmented-item-selected {
  box-shadow: 0 2px 3px rgba(0,0,0,0.25);
 
}

.mailingsModePicker .ant-segmented {
  width: 500px;
  
}

.mailingsModePicker .ant-segmented-group {
  width: 500px;
  display: flex;
}

.mailingsModePicker .ant-segmented-group>* {
  width: 500px;
  flex: 1;
}

.ant-segmented-item-motion-appear {
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.description-block {
  font-size: 12pt;
  color: var(--text);
  text-align: justify;
  text-justify: inter-word;
  opacity: 0.6;
}

.justified-text {
  text-align: justify;
  text-justify: inter-word;
}

.ant-checkbox-group {
  display: flex;
  flex-direction: column;
}

.amount {
  color: rgb(24, 144, 255);
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  padding: 2px;
}